.catalog, .description, .feedbacks, .queries, .chatbots, .complaints, .orders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #3e4f6d;
}

.subtitle {
    margin: .5rem;
    color: #718096;
}

.catalog .product-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.catalog .input-box {
    margin-right: 1rem;
}
.submit-btn,.clear-btn {
    padding: .75rem;
    border-radius: 8px;
    background-color: #03cf5d;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer; 
}
.submit-btn:hover {
    background-color: #01a749;
}


@media screen and (max-width: 800px) {
    .title {
        font-size: 1.6rem;
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
    .catalog .product-form {
        flex-direction: column;
        align-items: center;
    }
    .catalog .input-box {
        margin-right:0;
    }
    .submit-btn {
        margin-top: 1rem;
    }
    .catalog, .description, .feedbacks, .queries, .chatbots, .complaints, .offers, .orders {
        padding: 0 .5rem;
        align-items: center;
    }
}